a, a:hover, a:focus, a:active { text-decoration: none; color: #333; }
a { -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
body { background: #fcfcfd; }
header {
    width: 100%;
    background: #01aaed;
    height: 300px;
    line-height: 290px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 64, 128, .1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 64, 128, .1);
}
header span {
    font-size: 150px;
    color: #ffffff;
    text-shadow: -5px 5px 0 rgba(0,0,0,.1);
}
.menu {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 64, 128, .1);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 64, 128, .1);
    margin-bottom: 30px;
}
.menu a {
    position: relative;
    margin: auto 10px;
    padding: 5px 10px;
}
.menu a:hover, .menu a:focus, .menu a.active {
    background: #01aaed;
    color: #ffffff;
    border-radius: 5px;
}
.panel {
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 4px;
}
.article {
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 4px 9px 0 rgba(23,28,33,0.06);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.article:hover {
    box-shadow: 0 10px 20px 5px rgba(23,28,33,0.06);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.active:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -6px;
    transform: translate(-50%,0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #01aaed;
}
.lk-panel-body {
    height: 100px;
    line-height: 20px;
    margin-top: 15px;
    color: #fff;
    background: #5a5f69;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lk-panel-foot {
    position: relative;
    height: 50px;
    background: #fff;
    padding: 5px;
    color: #5a5f69;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
}
.lk-hover:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.lk-panel-body span {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.boy { background: #66baff; }
.girl { background: #f4a7b9; }
.author-img, .mdui-dialog-content .dialog-footer img {
    float: left;
    width: 50px;
}
.lk-panel-foot p {
    position: absolute;
    left: 60px;
    bottom: 16px;
}
.lk-panel-foot cite {
    position: absolute;
    left: 60px;
    bottom: 8px;
}
footer {
    margin-top: 50px;
    height: 50px;
    line-height: 20px;
    background: #ffffff;
    text-align: center;
    border-top: 1px solid #f5f5f5;
}
.mdui-dialog-content {
    position: relative;
}
.mdui-dialog-content span {
    line-height: 20px;
    font-size: 18px;
}
.mdui-dialog-content p, .mdui-dialog-content cite {
    position: absolute;
    right: 20px;
    float: right;
}
.mdui-dialog-content p {
    bottom: 40px;
}
.mdui-dialog-content cite {
    bottom: 25px;
}
.mdui-dialog-content .dialog-footer {
    border-top: 1px solid #f0f0f0;
    margin-top: 10px;
    padding-top: 10px;
}
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn{50%{opacity:.6}
    100%{opacity:1}
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px)}
    100%{opacity:1;-o-transform:translateY(0)}
}
@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}
    100%{opacity:1;transform:translateY(0)}
}

::selection{color:#fff;background:#207cc7}
::-moz-selection{color:#fff;background:#207cc7;}
:window-inactive {display: none;}
::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{background:#ccc;}
::-webkit-scrollbar-track:window-inactive{background:#f6f6f6;}
::-webkit-scrollbar-thumb{background:#888;}
::-webkit-scrollbar-thumb:window-inactive{background:#f6f6f6;}
::-webkit-scrollbar-button:window-inactive {background:#f6f6f6;}