body { background: #fcfcfd; }
header {
    width: 100%;
    background: #01aaed;
    height: 300px;
    line-height: 290px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 64, 128, .1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 64, 128, .1);
}
header span {
    font-size: 150px;
    color: #ffffff;
    text-shadow: -5px 5px 0 rgba(0,0,0,.1);
}
.menu .active:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -6px;
    transform: translate(-50%,0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #01aaed;
}
.menu {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 64, 128, .1);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 64, 128, .1);
    margin-bottom: 30px;
}
.menu a {
    position: relative;
    margin: auto 10px;
    padding: 5px 10px;
}
.menu a:hover, .menu a:focus, .menu a.active {
    background: #01aaed;
    color: #ffffff;
    border-radius: 5px;
}
.panel {
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 4px;
}
.article {
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 4px 9px 0 rgba(23,28,33,0.06);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.article:hover {
    box-shadow: 0 10px 20px 5px rgba(23,28,33,0.06);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.lk-panel-body {
    height: 100px;
    line-height: 26px;
    margin-top: 15px;
    color: #fff;
    padding: 10px;
    background: #5a5f69;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lk-panel-foot {
    position: relative;
    height: 50px;
    background: #fff;
    padding: 5px;
    color: #5a5f69;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
}
.lk-hover:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.lk-panel-body span {
    height: 100px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.author-img, .mdui-dialog-content .dialog-footer img {
    float: left;
    width: 50px;
}
.lk-panel-foot p {
    position: absolute;
    left: 65px;
    bottom: 16px;
}
.lk-panel-foot cite {
    position: absolute;
    left: 65px;
    bottom: 8px;
}
.send textarea { resize: vertical; min-height: 100px; }
.send input, .send textarea {
    transition: border-color .35s;
    width: 100%;
    outline: none;
    padding: 8px;
    border: 1px solid #cbd5dd;
    box-sizing: border-box;
    border-radius: 2px;
}
.send input:focus, .send textarea:focus {
    border-color: rgb(90,95,105);
}
.send h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 0.8em;
    color: #5a5f69;
    font-weight: normal;
    position: relative;
}
.send h2:after {
    content: " *";
    top: -5px;
    color: red;
    font-size: 24px;
    margin-left: 2px;
    position: absolute;
}
.mdui-radio { padding-left: 23px; margin-right: 15px; }
.page {
    clear: both;
    padding-top: 25px;
    text-align: center;
}
.page a, .page a:focus {
    margin: 0 4px;
    padding: 7px 14px;
    border-radius: 4px;
    display: inline-block;
    line-height: 18px;
    color: #2196F3;
    background: #E3F2FD;
}
.page a:hover, .page a.active {
    color: #ffffff;
    background: #2196F3;
    box-shadow: 0 0 8px #42A5F5;
}
.page a.active { cursor: not-allowed; }
footer {
    margin-top: 50px;
    height: 50px;
    line-height: 20px;
    /*background: #ffffff;*/
    text-align: center;
    border-top: 1px solid #f5f5f5;
}
.textfield {
    margin-bottom: 15px;
}
.face-o {
    margin: 0px 0 -9px 0!important;
    height: 30px;
    width: 30px;
    border: none!important;
    box-shadow: none;
    display: inline-block!important;
    background-color: transparent!important;
}
.mdui-dialog-content .dialog-footer { position: relative; }
.mdui-dialog-content span {
    line-height: 20px;
    font-size: 18px;
}
.mdui-dialog-content p, .mdui-dialog-content cite {
    position: absolute;
    right: 0px;
    float: right;
}
.mdui-dialog-content p { top: -5px; }
.mdui-dialog-content cite { top: 40px; right: 3px; }
.mdui-dialog-content .dialog-footer {
    border-top: 1px solid #f0f0f0;
    margin-top: 10px;
    padding-top: 10px;
    overflow: hidden;
}
a, a:hover, a:focus, a:active { text-decoration: none; color: #333; }
a { -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.boy { background: #66baff; }
.girl { background: #f4a7b9; }
.span { letter-spacing: 1px; word-wrap: break-word; }
.text-center { text-align: center; }
.none { display: none; }
input, textarea { -webkit-appearance: none; }
.loading-shade {
    position: fixed;
    display: none;
    pointer-events: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background-color: rgb(0, 0, 0);
    opacity: 0.1;*/
}
.loading-shade span {
    width: 32px;
    height: 32px;
    background: url("/static/images/loading.gif") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.face {
    position: relative;
    display: inline-block;
}
.face-fade {
    overflow-y: auto;
    animation-name: sider-fixed;
    animation-duration: 0.5s;
    transform-origin: bottom;
    z-index: 1;
}
.face-fixed {
    position: absolute;
    overflow-y: auto;
    width: 470px;
    z-index: 1;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 0px rgba(0, 64, 128, 0.3);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 64, 128, 0.3);
}
.face-fixed a {
    transition: background .35s;
    cursor: pointer;
    padding: 4px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    display: inline-block;
}
.face-fixed a:hover {
    background-color: rgba(153, 153, 153, 0.2);
}
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn{50%{opacity:.6}
    100%{opacity:1}
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px)}
    100%{opacity:1;-o-transform:translateY(0)}
}
@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}
    100%{opacity:1;transform:translateY(0)}
}
@keyframes sider-fixed {
    0% { transform: translateY(30px); opacity:0; }
}

@media screen and (max-width: 768px) {
    .face-fixed { width: 250px; max-height: 250px; }
    .page a, .page a:focus { margin: 0 3px; padding: 4px 9px; }
}

::selection{color:#fff;background:#207cc7}
::-moz-selection{color:#fff;background:#207cc7;}
:window-inactive {display: none;}
::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{background:#ccc;}
::-webkit-scrollbar-track:window-inactive{background:#f6f6f6;}
::-webkit-scrollbar-thumb{background:#888;}
::-webkit-scrollbar-thumb:window-inactive{background:#f6f6f6;}
::-webkit-scrollbar-button:window-inactive {background:#f6f6f6;}